body {
    background-color: white;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.card {
    box-shadow: 0 0 10px #0000007f;
    width: 500px;
    border: none;
}

.encabezadologo{
    display: inline-block;
    vertical-align: middle;
    padding-top: 1px;
}

.iniciosession{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 320px;
}

.mb-3{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
 }

#btnEnviar{
    background-color: #0000007f;
    border-radius: 0px 0px 5px 5px;
    border: none;
    color: black;
}

.card-header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 26px;
    font-weight: bold;
    background-color: #0574b5;
    height: 90px;
}
.textAcceder{
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.947);
}

#btnEnviar{
    background-color: #0d2d56;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#btnEnviar:hover{
    background-color: #0d2d56d9;
}

.form-label{
    font-weight: 500;
}

.logos{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
}